services:
  mongo:
    image: mongo:7.0
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db

  franchise-api:
    build: .
    depends_on:
      - mongo
    environment:
      MONGODB_URI: mongodb://mongo:27017/franchise_db
    ports:
      - "8080:8080"
    command: ["java", "-jar", "app.jar"]

volumes:
  mongo_data:
